.searchbox {
  width: 500px;
  position: relative; }

.searchbox input {
  width: 100%;
  padding: 5px 10px;
  appearance: none;
  background-color: #363636;
  box-shadow: 1px 1px 1px 1px #363636;
  border: none;
  font-size: 18px; }

.searchbox-magnifier {
  width: 24px;
  height: 24px;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer; }

.suggestion, .searchbox-magnifier {
  position: absolute; }

.suggestion {
  background-color: #363636;
  width: 100%;
  transform: translateY(0);
  padding: 5px 10px;
  box-shadow: 1px 1px 1px 1px #363636; }

.suggestion-item {
  color: #fff;
  padding: 5px 0; }
  .suggestion-item.is-active {
    background-color: #00FC87; }
  .suggestion-item:nth-of-type(2) {
    border-top: 1px solid #686868;
    border-bottom: 1px solid #686868; }
